body{
    margin: 0px;
 }
 #principal{
     width: 100%;
     height: 100%;
     background-color: rgba(139, 91, 248, 0.51);  
     
 }
     #menu{
     width: 100%;
     height: 80px;
     background-color: rgba(139, 91, 248, 0.51);    
     float: right;
     display: flex;
     align-items: center;
     position: fixed;
     z-index: 200;
     transition: 0.4s;
 }
   #menu a {
     text-decoration: none;
     padding: 30px 15px;
     color: #444;
     transition: 0.2s;
 }
 #menu a:hover{
   transform: scale(1.2);
         
 }
 #banner{
     height: 500px;   
     background-image:url(../Imagens/banner3.jpg);
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;
 }
  #banner h3{
     font-weight: 700;
     margin-left: 8vw;
     position: absolute;
     font-size: 30px;
     margin-top: 250px;
     font-family: Montserrat;
     color: coral;
     opacity: 0;
     transition: all 0.5s;
     border-width:10px;
     border-color:aliceblue;    
 }
 #banner h3:hover{
     margin-top: 350px;             
     opacity: 1;
 }
 #banner h1{
     font-weight: 700;
     margin-left: 8vw;
     position: absolute;
     font-size: 70px;
     margin-top: 250px;
     font-family: Montserrat;
     color: coral;
 }

 #conteudo{
     height: 1000px;
     margin-top: 10px;
     margin-bottom: 10px;     
 }

 #colesq{
     width: 1250px;
     height: 1000px;          
     background-color: #6212fa;
     float: left;
 }
 #coldir{
     width: 290px;
     height: 978px;
     background-color: #6212fa;
     float: right;
     padding: 10px
 }
 
  #destaques{ 
     height: 500px;
 }
   #img_destaques{
     width: 500px;
     height: 400px;
     margin: 20px;
     float: left;
     background-size: cover;
     background-position: center center;

     transition: all 0.6s;


 }
  #img_destaques:hover{
     opacity: 80%;    
     transform:  scale(1.02);   
 }
 
  #materia1{
     margin-top: 20px;
     margin-left: 20px;
     width: 550px;
     height: 480px;
     float: left;     
     background-color: rgba(138, 43, 226, 0.5);
 }
  #chamadas2{
     margin-top: 20px;
     margin-right: 20px;
     width: 550px;
     height: 480px;
     float: right;
     background-color: rgba(138, 43, 226, 0.5);

 }
 #importantes{
    height: 350px;
    background-color: rgba(138, 43, 226, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;       
 }
 #importantes p{
     font-family: Montserrat;
     color: #fff;
 }
 #anuncios{
    height: 310px;
       
 }
 .anuncios_prod{
     width: 135px;
     height: 150px;
     background-color: #dff6f0;;  
     float: left;
 }
 #anuncios1{
    
     margin-right: 10px;
     margin-bottom: 10px;
     background-image: url(../Imagens/ANUNCIO1.jpg);
     background-size: cover;
     background-position: center center;
     border-radius: 100%;
     overflow: hidden;
     border: 1px solid aquamarine;
     background-color: aquamarine;
     transition: all 0.6s;

 }
 #anuncios1:hover{
     opacity: 70%;    
     transform:  scale(1.2);   
 }
 
  #anuncios2{
      margin-top: 160px;
     margin-bottom: 10px;
     background-image: url(../Imagens/ANUNCIO2.jpg);
     background-size: cover;
     background-position: center center;
     border-radius: 100%;
     overflow: hidden;
     border: 1px solid aquamarine;
     background-color: aquamarine;
        transition: all 0.6s;
 }
 #anuncios2:hover{
     opacity: 70%;    
     transform:  scale(1.2);   
 }
 #anuncios3{
     
     margin-right: 10px;
     background-image: url(../Imagens/ANUNCIO3.jpg);
     background-size: cover;
     background-position: center center;
     border-radius: 100%;
     overflow: hidden;
     border: 1px solid aquamarine;
     background-color: aquamarine;
     transition: all 0.6s;
 }
 #anuncios3:hover{
     opacity: 70%;    
     transform:  scale(1.2);   
 }
 #anuncios4{
      margin-top: 120px;
     margin-right: 5px;
     background-image: url(../Imagens/ANUNCIO4.jpg);
     background-size: cover;
     background-position: center center;
     border-radius: 100%;
     overflow: hidden;
     border: 1px solid aquamarine;
     background-color: aquamarine;
       transition: all 0.6s;
 }
 #anuncios4:hover{
     opacity: 70%;    
     transform:  scale(1.2);   
 }
 h1, h2, h3, h4, h5, h6{
     font-family: Roboto;
 }
 h1{
     margin: 0px;
     padding: 10px 20px 10px 20px;
     color: #fff;
     font-size: 22px;
 }
  h2{
     background-color: rgb(255, 157, 0);   
     margin: 0px;
     padding: 10px 20px 10px 20px;
     color: #fff;
     font-size: 18px;
     
 }
  h4{
     margin-top: 0px;
     color: #fff;
     font-weight: 600;
     font-size: 200%;
 }
  h5{
     margin-top: 70px;
     margin-bottom: 0px;
     color: #fff;
     background-color: rgb(255, 157, 0); 
     font-weight: 600;
     font-size: 120%;
     padding: 0px 50px 0px 10px;
     font-size: 17px;
 }
 #txt_destaques{
     width: 600px;
     height: 320px;       
     margin: 20px 30px 20px 0px;
     float: right;

 }
 #txt_destaques h4{
     background-color: rgb(255, 157, 0);
      padding: 0px 50px 0px 15px;
 }
 #txt_destaques p{
     margin: 0px;
     padding: 10px 20px 10px 20px;
     color: #fff;
     font-size: 22px;
 }
 
 
 #txt_materia1_2{
     width: 400px;
     height: 185px;       
     margin: 10px 10px 10px 0px;
     padding: 10px;
 }
 #txt_materia1_2 p{
    
     color: #fff;
     font-size: 18px;
     font-family: Montserrat;
 }
 #txt_chamadas1_2 p{
     padding: 10px, 10px, 10px, 10px;
    margin-top: 20px;
     color: #ffffff;
     font-size: 18px;
     font-family: Montserrat;
 }
 #rodape{
     width: 100%;
     height: 600px;    
     background-image:url(../Imagens/banner.jpg);
     background-color: rgba(139, 91, 248, 0.51);    
      background-size: cover;
     background-position: center center;
     background-attachment: fixed;
 }

   #rodape_esq{
     width: 35vw; 
     height: 80%;
     transition: all 0.6s;
     color: black;
     font-family: Montserrat;
     float: left;
     
     margin-top: 120px;
     margin-left: 8vw;
 }

 #rodape_dir{
     width: 35vw;
     height: 60%;
     margin-top: 120px;
     margin-right: 17vw;
     float: right;
 }
 .inputForm{
     padding: 10px;
     width: 100%;
 }
 .inputForm:focus{
     background-color: rgba(159, 159, 159, 0.4);
 }
 .reduzFont{
     font-size: 1em;
 }
 .reduzFont:hover{
     font-size: 1.3em;
 }
 #btn_enviar{
     width: 100%;
     padding: 15px;
     border: none;
     background-color: black;
     color: #ddd;
     font-weight: 700;
     letter-spacing: 0.3em;
     cursor: pointer;
 }
 #btn_enviar:hover{
     background-color: #313131;
     color: #f2f2f2;
 }
 p{
     color: #fff;
     font-family: Source Sans Pro;
     font-size: 17px;
     line-height: 160%;
 }
 .link_leiamais{
     font-family: Source Sans Pro;
     color: #dff6f0;
     float: right;
     background-color: aquamarine;
     text-decoration: none;
     padding: 5px; 
     border-radius: 5px;
 }
 .link_leiamais:hover{
     color: #e4f700;
     box-shadow: 0px 0px 8px #dff6f0;
 }
  .link{
     font-family: Source Sans Pro;
     color: #6c00ff;
     background-color: #cece12;
     text-decoration: none;
     border-radius: 5px;
 }
 .link:hover{
     color: #f78e00;
     box-shadow: 0px 0px 8px #dff6f0;
 }
 input{
     padding: 15px 5px 15px 5px;
     font-family: Source Sans Pro;
     width: 270px;
 }
 ul{
     font-family: Source Sans Pro;
     line-height: 180%;
     font-size: 15px;
 }
 .texto_diferente{
     color: cadetblue;
     margin-left: 20px;
     margin-right: 20px;
 }